<div class="container">
    <section class="header">
        <img src="../images/whatapop.png" width="300" height="300">
        <h1 class="tittle">Whatapop</h1>
    </section>
    <div class="navbar-spacer"></div>
    <nav class="navbar">
        <div class="container">
            <ul class="navbar-list">
                <li class="navbar-image">
                    <img src="../images/favicon.png">
                </li>
                <li class="navbar-item">
                    <!--Con la directiva ng-link establecemos el nombre de ruta a navegar-->
                    <a class="navbar-link" ng-link="['Products']">Productos</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" ng-link="['NewUser']">Register User</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="inPage">
        <ng-outlet></ng-outlet>
    </div>
    <section class="u-full-width footer">
        By Alma Martinez. 2016
    </section>
</div>